docker
six
pyyaml
plumbum
# doit
pandas
bitmath
tabulate
pytest
coverage
requests
grpcio
grpcio-tools==1.43.0 # newer version creates a conflict with protoc and protobuf
selenium
git+https://github.com/davidzyx/doit
pydantic