name: Docker

on:
  push:
    branches: [ main ]
    paths:
      - "images/**"
      - "scripts/**"
      - "dodo.py"
      - ".github/workflows/main.yml"

  pull_request:
    branches: [ main ]
    paths:
      - "images/**"
      - "scripts/**"
      - "dodo.py"
      - ".github/workflows/main.yml"

  workflow_dispatch:

jobs:
  docker-pipeline:
    runs-on: ubuntu-latest
    if: >
      !contains(github.event.head_commit.message , 'ci skip') &&
      !contains(github.event.pull_request.title, 'ci skip')
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install pip dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt

      - name: Set Python-specific environment variables
        run: |
          echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV
          echo "PYTHONUNBUFFERED=TRUE" >> $GITHUB_ENV

      - name: Clone Wiki
        uses: actions/checkout@v2
        with:
          repository: ${{github.repository}}.wiki
          path: wiki

      - name: Build stack
        run: |
          doit build

      - name: Test stack
        run: |
          doit test

      - name: Run manifests
        run: |
          doit manifest
          cp manifests/*.md wiki/

      - name: Push Wiki to GitHub
        if: github.ref == 'refs/heads/master' || 
            github.ref == 'refs/heads/main'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "[ci skip] Automated publish for ${{github.sha}}"
          repository: wiki/

      - name: Push stack
        if: >
          !contains(github.base_ref , 'test') &&
          !contains(github.base_ref , 'dev') &&
          (
            github.ref == 'refs/heads/master' || 
            github.ref == 'refs/heads/main'
          )
        env:
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          doit push

      - name: Archive artifacts and logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: build-artifacts
          path: |
            artifacts
            logs
            manifests
